body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.first-header{
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}
#email{
    width: 272px;
}
#password{
    width: 272px; 
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #166fe5;
}

.login-form a {
    display: block;
    margin: 10px 0;
    color: #1877f2;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-form hr {
    border: 0.5px solid #ddd;
    margin: 20px 0;
}

.create-account {
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.create-account:hover {
    background-color: #36a420;
}